.App {
  scroll-behavior: smooth;
}
.circle {
  z-index: 210;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none; /* Empêche le cercle d'interagir avec d'autres éléments */
  background-color: white; /* Ajoute une couleur noire pour la visibilité */
  mix-blend-mode:difference; /* Inverse les couleurs sous le cercle */
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease, left 0.2s ease, top 0.2s ease; 
}
.light {
  background-color: white;
}
.dark{
  background-color: #000000;
}
.light a{
  color: black;
}
.dark p, .dark h1,.dark h2, .dark a{
  color: white;
}
h1{
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: "Carrois Gothic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{transition: color, background-color 1s ease;}

.button_up{
  position: fixed;
  right: 10px;
  bottom: 10px;
}