#Experience{
    padding: 80px 50px 50px 50px;
    height: auto;
    display: flex;
    flex-direction: column;

  }

.carousel-container {
  width: 500px;
  margin: 0 auto ;
  padding: 40px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dark .carousel-item, .dark .carousel-text p{
  color: white;
}
.dark .carousel-item #brightness{
  filter: brightness(100);
}
.carousel-item img, .carousel-item iframe {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.carousel-item iframe{
  border: 1px solid #ddd;
  background-color: white;
}
.carousel-text {
  text-align: center;
}

.carousel-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-text p {
  font-size: 16px;
  color: black;
}


@media screen and (max-width : 1000px ) {
  .carousel-container {
    width: 300px;
    margin: 0 auto ;
    padding: 40px;
  }
  .carousel-item img, .carousel-item iframe {
    width: 299px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

